<html>
<%= render :partial => "partials/head" %>
<body>
<div id="yaw">
  <div class="yaw__feedback">
    <%= render :partial => "partials/feedback_head" %>
    <div class="yaw__feedback__body">
      <ul class="yaw__feedback__sort">
        <li>Сортировать по</li>
        <li class="active desc"><a href="#">дате</a></li>
        <li class="desc"><a href="#">оценке</a></li>
        <li class="desc"><a href="#">полезности</a></li>
      </ul>
      <%= render :partial => "partials/feedback_item" %>
      <div class="yawFeedbackFrag" id="yawFeedbackFrag"></div>
    </div>
    <%= render :partial => "partials/feedback_footer" %>
  </div>
</div>

<script type="text/javascript">

    $(function () {
        $('#yaw').yaw({
            title: $('html').find('title').text(),
            region:213,
            serverUrl: 'http://socialmart.ru'
        });

    });
</script>
<script type="text/javascript" src='js/libs/handlebars.js'></script>

<%= livereload_js unless ENV["RACK_ENV"] == "production" %>
</body>
</html>
